*{
  margin:0;
  padding:0;
  box-sizing:border-box;
 font-family: 'Raleway', sans-serif;
}

body{
  background:#fff;
  color:#c3dfa4;
  overflow-x:hidden;
}

header{
  position:fixed;
  top:0;
  width:100%;
  padding:25px 60px;
  display:flex;
  justify-content:space-between;
  background:white;
  z-index:10;
}

nav a{
  margin-left:30px;
  text-decoration:none;
  color:#111;
  font-weight:500;
}

.hero{
  min-height:100vh;
  padding:160px 60px;
}

.hero h1{
  font-family: 'Instrument Serif', serif;
  font-size: 76px;
  line-height: 1;
}

.hero p{
  margin-top:30px;
  max-width:500px;
  font-size:20px;
}

.section{
  padding:160px 60px;
}

.dark{
  background:#111;
  color:white;
}

.services{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
  gap:40px;
  margin-top:60px;
}

.services div{
  padding:40px;
  border:2px solid #111;
}

.dark .services div{
  border-color:white;
}

.portfolio{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
  gap:40px;
  margin-top:60px;
}

.card{
  height:300px;
  background:#eee;
  display:flex;
  align-items:center;
  justify-content:center;
  overflow:hidden;
}

.card img{
  width:100%;
  height:100%;
  object-fit:cover;
}

/* ANIMACIONES */
.reveal{
  opacity:0;
  transform:translateY(60px);
  transition:1s ease;
}

.reveal.active{
  opacity:1;
  transform:translateY(0);
}


